/* ---------- animation bouttons ----------- */
.button_color, .bar
{
	&:hover	{
		cursor: pointer;
		transition-duration: 550ms;
		filter: brightness(120%);
		box-shadow: 3px 3px 4px  rgba(0, 0, 0, 0.8);
	}
}

/* ---------- annimation coeur --------- */
.fa-heart
{
	transition: color 3s;
	transform-origin: center center;
	cursor: pointer;
	font-weight: initial;
	&:hover	{
		color: rgb(176, 7, 255);
		font-weight: bold;
	}
}

/* ---------- animation check -------------- */
.plate
{
	flex-grow: 1;
	width: 130px;
	p, h3	{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

}

.price
{
	width: 40px;
	align-self: flex-end;
}

.slide_left
{
	display: flex;
	width: 0;
	transition: all 1s;
	background-color: #99E2D0;
	.fa-check-circle {
		margin: auto;
		color: white;
		font-weight: bold;
		transition: transform 1s;
		transform: rotate(-1turn);
	}

}

.plate_price
{
	display: flex;
	width: 80%;
	margin: auto;
	overflow: hidden;
	cursor: pointer;
	border-radius: 25px;
	margin-bottom: 10px;
	box-shadow: 3px 3px 4px  rgba(0, 0, 0, 0.4);
	padding: 0 0px 0px 18px;
	&:hover > .slide_left
	{
		width: 60px;
		.fa-check-circle {
			transform: rotate(0deg);
		}
	}
}

/*-------- Loading spinner ------*/
#loading
{
	height: 100%;
	.spin	{
		height: 100px;
		width: 100px;
		border: 10px solid #99E2D0;
		border-style: double ;
		border-radius: 50%;
		margin: auto;
		animation: loading 3.5s linear 1;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		background: radial-gradient( ellipse at top left,  #9356DC, #FF79DA,);
	}
}

nav , main, footer, #booking, #search_city
{
	opacity: 1;
	animation: apparition_page 3.5s;
}

@keyframes apparition_page
{
	0% {
		opacity: 0;
	}

	90%	{
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes loading
{
	0% {
		transform:  rotate(0turn);
		opacity: 1;
	}

	80%	{
		opacity: 1;
	}

	100% {
		transform: rotate(-7turn);
		opacity: 0;
	}
}

/*------- Apparition menu ---------*/
.plate_price:nth-child(1)
{
	animation: plat_1 1s linear backwards ;
	opacity: 1;
}

.plate_price:nth-child(2)
{
	animation: plat_1 1s linear backwards;
	opacity:1 ;
	animation-delay: 0.3s;
}

.plate_price:nth-child(3)
{
	animation: plat_1 1s linear backwards;
	opacity: 1;
	animation-delay: 0.6s;
}

.plate_price:nth-child(4)
{
	animation: plat_1 1s linear backwards;
	opacity: 1;
	animation-delay: 0.9s;
}

@keyframes plat_1
{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}